site/
/*.html
/sitemap.xml
/sitemap.xml.gz
/css/
/js/
/img/
/search/
/fonts/
/aboutPI/
/contactus/
/news/
/people/
/publications/
/research/
/resources/
/seminars/
/teaching/
/group.jpg
.DS_Store
__pycache__/
